<div>
    <p>
       Hello,
    </p>
    <p>
        We have assigned an interpreter for your request Ref: {{ref}}
    </p>
    <p>
        Details: Patien Name {{patient}} Date: {{datetime}} Time {{datetime}}
    </p>
    <ul>
        <li>
            Language: {{language}}
            Office: {{office}}
            Address: {{address}}
            Type: {{type}}
            Modality: {{modality}}
        </li>
    </ul>
    <p>
        Requestor: {{requester}} Reference: {{ref}}
    </p>
    <p>
        Thank you for scheduling with CORE Communications at Scheduling.COREinterpreters.net. Kindly <br/> 
        let us know any cancelations, updates or any other details in relation to the assigment above in order to better assist <br/>
        you with your service request (use our scheduling@COREinterpreting.net email or the contact information below). 
    </p>
    <p>
        Best regards,
    </p>
    <p>
        CORE Communications <br/>
        Scheduling Department <br/>
        Scheduling.COREinterpreters.net <br/>
        Ph. 650-3181852
    </p>
</div>