<div>
    <p>
        Dear Sir/Madam,
    </p>
    <br>
    <p>
        I hope you are doing well. Please provide autorization to provide interpreting services:
    </p>
    <br>
    <p>
        Claimant: {{ name_patient }}
    </p>
    <br>
    <p>
        Claim number: {{ claim_number }}
    </p>
    <br>
    <p>
        DOI: {{ doi_patient }},
    </p>
    <br>
    <p>
        DOB: {{ dob_patient }},
    </p>
    <br>
    <p>
        Phone: {{ phone_patient }},
    </p>
    <br>
    <p>
        Home address: {{ address_patient }},
    </p>
    <br>
    <br>
    <br>
    <br>
    <p>
        Insurance: {{ insurance }}
    </p>
    <br>
    <p>
        Applicant attorney: {{ attorney }}
    </p>
    <br>
    <p>
        Phone: {{ phone_insurance }}
    </p>
    <br>
    <br>
    <br>
    <br>
    <p>
        Appointment details: {{ appointment_details }}
    </p>
    <br>
    <p>
        Location: {{ location }}
    </p>
    <br>
    <p>
        Type: {{ type }}
    </p>
    <br>
    <br>
    <br>
    <p>
        Note: {{ note }}
    </p>
    <br>
    <p>
        PLEASE PUT A NOTE CORE COMMUNICATIONS CAN COVER THE APPOINTMENT ABOVE 
    </p>
    <br>
    <p>
        PROVIDER ID: {{ provider_id }}
    </p>
</div>