<div>
    <p>
        Dear {{ name_adjuster }},
    </p>
    <br>
    <p>
        We hope you are doing well.
    </p>
    <p>
        We have been requested to coordinate interpretation services for: ({{ name_patient }}):
    </p>
    <ul>
        <li>
            Injured Worker: {{ name_patient }},
            DOB: {{ dob_patient }},
            DOI: {{ doi_patient }},
            Claim Number: {{ claim_number }},
            Medical Facility {{ clinic_name }}
            Medical Provider: {{ provider_name }}
        </li>
    </ul>
    <p>
        Best regards, <br>

        (Name & Last name) <br>
        Scheduling Specialist <br>
        ==================== <br>
        Scheduling Department <br>
        CORE COMMUNICATIONS <br>
        Ph:  (650) 318-1443 <br>
        Fax: (234) 267 - 3329 <br>
    </p>
    <p>
        CORE Communications is a scheduling facilitator startup for specialty medical interpreting services such <br> 
        as workers' compensation medical appointments, FRPs, and rehabilitation programs, psychology and psychiatry consultations, <br> 
        medical equipment training, high-tech setup interpreting, personal injuries, catastrophic injuries, and others.
    </p>
</div>