<div>
    <p>
       Hello {{name_of_greet}}
    </p>
    <p>
        We have assigned an interpreter for your request Ref: {{ref}}
    </p>
    <p>
        Details: Patient Name: {{patient}} DateTime: {{datetime}} 
    </p>
    <ul>
        <li>
            Language: {{language}} <br/> 
            Office: {{office}} <br/> 
            Address: {{address}} <br/> 
            Type: {{type}} <br/> 
            Modality: {{modality}} <br/> 
        </li>
    </ul>
    <p>
        Requestor: {{requester}} Reference: {{ref}}
    </p>
    <p>
        Thank you for scheduling with CORE Communications at Scheduling.COREinterpreters.net. Kindly <br/> 
        let us know any cancelations, updates or any other details in relation to the assigment above in order to better assist <br/>
        you with your service request (use our scheduling@COREinterpreting.net email or the contact information below). 
    </p>
    <p>
        Best regards,
    </p>
    <p>
        CORE Communications <br/>
        Scheduling Department <br/>
        Scheduling.COREinterpreters.net <br/>
        Ph. 650-3181852
    </p>
</div>